{% extends 'base.html' %}
{% block head %}
Login
{% endblock %}

{% block content %}

<style>
    html,
    body {
        height: 100%;
    }

</style>

<main role="main" class="inner cover text-center">
    <h1 class="cover-heading">Login Page</h1>
    <p class="lead">Please input following information to use this web-site</p>
    <p>
    <form action="login" method="post">
    <div>
        <label for="username">Username:</label>
        <input type="text" name="username" id="username">
    </div>
    <div>
        <label for="password">Password:</label>
        <input type="text" name="password" id="password">
    </div>
    <div>
        <p class="lead">
        <input class="btn btn-lg btn-secondary" type="submit" value="Lets goooo">
        </p>
    </div>
</form>

</main>


{% endblock %}


