{% extends 'base.html' %}
{% block head %}
    Parser
{% endblock %}

{% block content %}





    <div class="row vh-75 mt-5">
        <div class="col-md">
            <button class="btn btn-primary" onclick="refresh()">Refresh</button>
            <div class="card text-white bg-dark" id="card" style="display: none; width: 100%">
                <div class="card-header">
                    <h5>Listings</h5>
                </div>
                <div class="card-body">
                    <table class="table table-dark table-bordered" id="dataTable">
                        <tr>
                            <th>Name</th>
                            <th>Image</th>
                            <th>Price</th>
                            <th>
                                <center><em class="fa fa-cog"></em></center>
                            </th>
                        </tr>
                    </table>
                </div>

            </div>
        </div>
    </div>

    <script>
        function refresh() {
            console.log('Refresh');
            const table = document.getElementById('dataTable');
            const card = document.getElementById('card');
            const data = JSON.parse(httpGet('/data'));

            card.style.display = 'block';
            data.forEach(function (datum) {
                console.log(datum);
                const row = table.insertRow();
                row.insertCell().innerHTML = datum['name'];
                row.insertCell().innerHTML = `<img style="width: 100px" src="${datum['img']}">`;
                row.insertCell().innerHTML = datum['price'];
                row.insertCell().innerHTML = '<input class="btn btn-danger" type="button" value="Delete Row" onclick="removeRow(this)">';
            });

        }


        function removeRow(o) {
            const p = o.parentNode.parentNode;
            p.parentNode.removeChild(p);
        }

        function httpGet(url) {
            const xmlHttp = new XMLHttpRequest();
            xmlHttp.open("GET", url, false);
            xmlHttp.send(null);
            return xmlHttp.responseText;
        }
    </script>


{% endblock %}






